#post_form{
    padding: 0 10%;
}

.post_btn{
    padding: 5px 20px;
    font-size: large;
    background-color: blue;
    color: white;
    margin-top: 20px;
}

.post_space{

    padding: 25px 75px;
}

.posts_views{

    margin: 0px 10%;
    background-color: rgb(234, 234, 247);
    padding: 10%;
}

.posts_views label {text-transform: capitalize;}

.post_feed{
    margin-bottom: 25px;
    font-size: 25px;
    border-left: 5px solid blue;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
}

hr{
    width: 50%;
    background-color: #c3c3f0;
    border: none;
    height: 1px;
    margin: 10px 0px;
}