/*ALi*/
#sign_in_body {
    height: 100vh;
    width: 100vw;
    place-content: center;
}

#sign_in_contents {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
}

#sign_in_title {
    flex-basis: 50%;
    text-align: center;

}

#sign_in_box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    text-align: center;

}

#before_sign_up {
    display: none;
}

#sign_up_box { 
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    text-align: center;
    
}

#navigation_bar {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(58, 58, 141);

}

#nav_image_container {
    display: flex;
    width: 10vw;
    height: 10vh;
    flex-basis: 13%;
    justify-content: center;
    align-items: center;

}

#nav_title_container{
    display: flex;
    flex-basis: 12%;
    justify-content: center;
    align-items: center;
}

#nav_title {
    font-size: 2vw;
    color: white;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#user_friends_container {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}

#profile_image {
    width: 10vw;
    height: 8vh;
    border-radius: 50%;
}

#search_input {
    width: 25vw;
    height: 4vh;
}

.user_name {
    font-size: 2vw;
}

#users_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#users_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}


#users {
    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: space-between;
}

#user_name {
    flex-basis: 80%;
    text-align: left;
    text-transform: capitalize;
}

#add_friend_button {
    flex-basis: 20%;
    align-self: center;
    text-align: center;
    justify-content: center;
    height: 3vh;
    width: 5vw;
}

#add_friend_id {
    display: none;
}

#friends_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#friends_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}





























/* ---------------------------------------------------------------------------------------- */


























/*Zaraket*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container {    
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
   
}

.post_div{
    text-align: left !important ; 
    padding-left: 10% !important;
}

.options{
    text-align: left;
}
.edit {
    background-color: transparent;
    border: 0;
    color: rgb(111, 111, 221);
    padding: 15px;
    margin: 10px 25px;
  
}

.edit:hover{
    cursor:pointer;
    color: darkblue;
}

.delete {
    background-color: transparent;
    border: 0;
    color: rgb(243, 118, 118);
    margin: 10px 15px;
}

.delete:hover{
    cursor:pointer;
    color: red;
}

  /*For main Page only*/



.post_btn{
    font-size: large;
    margin-top: 20px;
    align-items: center;
    background-color: #0A66C2;
    border: 2px;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: 0px 20px;
    text-align: center;
}

.post_btn:hover{
    background-color: white;
    color: #0A66C2;
    cursor: pointer;
    border-style: solid;
    border-color: #0A66C2;
}

.post_space{

    padding: 25px 75px;
    border-radius: 5%;
}

.posts_views{

    margin: 0px 10%;
    background-color: rgb(234, 234, 247);
    padding: 5% 10%;
    text-align: left;
    border-radius: 50px;
}

.posts_views label {text-transform: capitalize;}

.posts_views .post_date {
    font-size: small;
    color: gray;
    margin-top: 0px;
}

.post_feed{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}


.post_bottom {
    margin-top: 10px;
    padding: 15px 25px;
  }

  .post_owner{
      margin-bottom: 0px;
  }

  .own_post{

    margin-left: 25px;
  }

hr{
    width: 50%;
    background-color: #c3c3f0;
    border: none;
    height: 1px;
    margin: 10px 0px;
}

.like_btn{

    margin-left: 25px;
    align-items: center;
    background-color: #0A66C2;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: auto;
    text-align: center;
    padding: 0px 5px;
    border: 2px;

}


.like_btn:hover{

    background-color: white;
    color: #0A66C2;
    border-style: solid;
    border-color: #0A66C2;
}

.like{
    padding: 10px 15px;
}

.user_avatar {
    border-radius: 50%;
    width: 45px;
    margin: 25px;
  }

  .blue{
      color: #0A66C2;
  }


  
@media (min-width: 770px) {

    .col-12 { width: 100%; }

    .col-9{ width: 75%; }

    .col-6{ width: 50%; }

    .col-4{ width: 33.33%; }

    .col-3{ width: 25%; }

    .col-1{ width: 10%; }
    
  }


  @media screen and (max-width:700px) {
  
    .col-1, .col-3, .col-6, .col-9{
            width: 100%;
            margin: 0;
        }



    .posts_views{
        text-align: center;
    }

    .like_btn{

        margin-left: 0px;
    
    }

    .user_avatar {
        margin-bottom: 0px;
      }
}

/*
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .header__left img {
    height: 40px;
  }
  

  
  .header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
  
  .header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
  }
  
  .header__input input {
    border: none;
    background-color: transparent;
    outline-width: 0;
  }
  
  .header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  .header__option .material-icons {
    font-size: xx-large;
    color: gray;
  }
  
  .header__option:hover .material-icons {
    color: #2e81f4;
  }
  
  .header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  
  .header__option.active .material-icons {
    color: #2e81f4;
  }
  
  .header__option.active {
    border-bottom: 4px solid #2e81f4;
  }
  
  .header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
  }
  
  .header__info {
    display: flex;
    align-items: center;
  }
  
  .header__info h4 {
    margin-left: 10px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__right .material-icons {
    color: gray;
    margin: 0 10px;
  }
  
  .header__right .material-icons:hover {
    cursor: pointer;
  }
  

  
  .sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebarRow:hover {
    background-color: lightgray;
    border-radius: 10px;
  }
  
  .sidebarRow h4 {
    margin-left: 20px;
    font-weight: 600;
  }
  
  .sidebarRow .material-icons {
    font-size: xx-large;
    color: #2e81f4;
  }
 
  .story {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
  }
  
  .story:hover {
    transform: scale(1.07);
  }
  
  .story__avatar {
    margin: 10px;
    color: blue;
  }
  
  .story h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
  }
  
  .storyReel {
    padding: 10px 0;
    display: flex;
  }
  
  .main__body {
    display: flex;
  }
  
  body {
    background-color: #f1f2f5;
  }
  
  .feed {
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    padding: 25px 10px;
    flex: 0.33;
  }

  
  .messageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
  }
  
  .messageSender__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
  }
  
  .messageSender__top form {
    flex: 1;
    display: flex;
  }
  
  .messageSender__top form input {
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
  }
  
  .messageSender__bottom {
    display: flex;
    justify-content: space-evenly;
  }
  
  .messageSender__option {
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
  }
  
  .messageSender__option h3 {
    font-size: medium;
    margin-left: 10px;
  }
  
  .messageSender__option:hover {
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
  }
  



.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  }
  
  .post__image img {
    width: 100%;
  }
  
  .post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
  }
  

  
  .post__topInfo h3 {
    font-size: medium;
  }
  
  .post__topInfo p {
    font-size: small;
    color: gray;
  }
  
  .post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
  }
  
  .post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
  }
  
  .post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
  }
  
  .post__option p {
    margin-left: 10px;
  }
  
  .post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }
  */