/*ALi*/

* {
    padding:0;
    margin:0;
}
/* Sign In */
.sign_in_body {
    display: flex;
    align-items:center;
    height: 100vh;
    width: 80vw; 
    padding: 0 10vw;  
}

.sign_in_contents {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.sign_in_email {
    width: 30vw;
    margin: 10px 0px;
    height: 7vh;
    font-size: 2vw;
    border: 2px solid rgb(58, 58, 141); 
    border-radius: 0.5rem;
}

.sign_in_password {
    margin: 10px 0px;
    width: 30vw;
    margin: 10px 0px;
    height: 7vh;
    font-size: 2vw;
    border: 2px solid rgb(58, 58, 141); 
    border-radius: 0.5rem;
}

#sign_in_title {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    text-align: center; 
    font-weight: bold;
    margin-right: 5vw;

}

.sign_in_description {
    font-size: 2vw;
    margin: 2vw 0;
}

.sign_in_submit {
    width: 15vw;
    border-radius: 0.5rem;
    border: 2px solid white;
    font-size: 2vw;
    margin: 4vh 0 7vh 0;
    height: 7vh;
    background-color: rgb(58, 58, 141) ;
}

.sign_up_button {
    width: 8vw;
    border-radius: 0.5rem;
    border: 2px solid white;
    font-size: 2vh;
    margin: 2vh 0 3vh 0;
    height: 5vh;
    background-color: rgb(73, 73, 156)
}

.title_header {
    font-size: 5vw;
    color: rgb(58, 58, 141);
}

.sign_in_box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;
    width: 10vw;
    padding: 5vh;
    background-color: #ad86cc;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #3374ffbd 0%, #e799ffc7 80%);

}

.sign_up_box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: center;
    width: 10vw;
    padding: 5vh;
    background-color: #ad86cc;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #3374ffbd 0%, #e799ffc7 80%);
}

.sign_up_description {
    font-weight: bold;
    font-size: 3vw;
    margin: 0 0 3vh 0;
}

.sign_up_entry{
    width: 30vw;
    margin: 10px 0px;
    height: 5vh;
    font-size: 2vw;
    border: 2px solid rgb(58, 58, 141); 
    border-radius: 0.5rem;
}


/* ----------------------------------------- */

#before_sign_up {
    display: none;
}



#navigation_bar {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100vw;
    background-color: rgb(58, 58, 141);
    flex-wrap: wrap;
}

#nav_image_container {
    display: flex;
    width: 10vw;
    height: 10vh;
    flex-basis: 15%;
    justify-content: center;
    align-items: center;

}

#nav_title {
    font-size: 3vw;
    color: white;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15%;
}

#user_friends_container {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

#profile_image {
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    margin-right: 40%;
    margin-top: 50%;
}

#search_input {
    width: 25vw;
    height: 4vh;
}

.user_name {
    font-size: 2vw;
}

#users_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#users_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}


#users {
    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: space-between;
}

#user_name {
    flex-basis: 80%;
    text-align: left;
    text-transform: capitalize;
}

#add_friend_button {
    flex-basis: 20%;
    align-self: center;
    text-align: center;
    justify-content: center;
    height: 3vh;
    width: 5vw;
}

#add_friend_id {
    display: none;
}

#friends_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#friends_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}


#user_icon {
    margin-right: 1vw;
}

#friends_icon {
    margin-right: 1vw;
}

.show_users {
    padding: 1vw;
    border-radius: 0.25rem;
    background-color: white;
    color: rgb(111, 111, 221);
    margin-right: 1vw;
    font-weight: bold;
}

.friends_users {
    padding: 1vw;
    border-radius: 0.25rem;
    background-color: white;
    color: rgb(111, 111, 221);
    font-weight: bold;
}









































/* ---------------------------------------------------------------------------------------- */


























/*Zaraket*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container {    
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
   
}

.post_div{
    text-align: left !important ; 
    padding-left: 10% !important;
}

.options{
    text-align: left;
}
.edit {
    background-color: transparent;
    border: 0;
    color: rgb(111, 111, 221);
    padding: 15px;
    margin: 10px 25px;
  
}

.edit:hover{
    cursor:pointer;
    color: darkblue;
}

.delete {
    background-color: transparent;
    border: 0;
    color: rgb(243, 118, 118);
    margin: 10px 15px;
}

.delete:hover{
    cursor:pointer;
    color: red;
}

  /*For main Page only*/



  #post_form{
    padding: 0 10%;
}

.post_btn{
    font-size: large;
    margin-top: 20px;
    align-items: center;
    background-color: #0A66C2;
    border: 2px;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: 0px 20px;
    text-align: center;
}

.post_btn:hover{
    background-color: white;
    color: #0A66C2;
    cursor: pointer;
    border-style: solid;
    border-color: #0A66C2;
}

.post_space{

    padding: 25px 75px;
    border-radius: 5%;
}

.posts_views{

    margin: 0px 10%;
    background-color: rgb(234, 234, 247);
    padding: 10%;
    text-align: left;
}

.posts_views label {text-transform: capitalize;}

.posts_views .label {
    font-size: medium;
    color: gray;}

.post_feed{
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    border-left: 5px solid #0A66C2;

}



hr{
    width: 50%;
    background-color: #c3c3f0;
    border: none;
    height: 1px;
    margin: 10px 0px;
}

button{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: auto;
    text-align: center;
    padding: 0px 5px;
    margin: 10px 0px;
}

button:hover{

    background-color: white;
    color: #0A66C2;
 
}

.like{
    padding: 10px 15px;
}

.user__avatar {
    border-radius: 50%;
    width: 45px;
    margin: 25px;
  }


  
@media (min-width: 770px) {

    .col-12 { width: 100%; }

    .col-9{ width: 75%; }

    .col-6{ width: 50%; }

    .col-4{ width: 33.33%; }

    .col-3{ width: 25%; }
    
  
  }


  @media screen and (max-width:750px) {
  
    .col-3, .col-6, .col-9{
            width: 100%;
            margin: 0;
        }

    .sign_in_contents {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh;
    }

    .sign_in_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60vw;
    
    }

    #sign_in_title {
        flex-basis: 30%;
        text-align: center;
        font-weight: bold;
        margin: 0 0 0 0;
    
    }

    .sign_in_description {
        font-size: 5vw;
        margin: 2vh 0 5vh 0;
    }
    
    .title_header {
        font-size: 10vw;
        color: rgb(58, 58, 141);
    }

    .sign_in_email {
        width: 60vw;
        margin: 10px 0px;
        height: 5vh;
        font-size: 5vw;
        border: 2px solid rgb(58, 58, 141); 
        border-radius: 0.5rem;
    }
    
    .sign_in_password {
        margin: 10px 0px;
        width: 60vw;
        margin: 10px 0px;
        height: 5vh;
        font-size: 5vw;
        border: 2px solid rgb(58, 58, 141); 
        border-radius: 0.5rem;
    }

    .sign_in_submit {
        width: 30vw;
        border-radius: 0.5rem;
        border: 2px solid white;
        font-size: 5vw;
        margin: 2vh 0 3vh 0;
        height: 5vh;
    }

    .sign_up_button {
        width: 18vw;
        border-radius: 0.5rem;
        border: 2px solid white;
        font-size: 3vw;
        margin: 2vh 0 3vh 0;
        height: 5vh;
        background-color: rgb(58, 58, 141)
    }

    .sign_up_entry{
        margin: 10px 0px;
        width: 60vw;
        margin: 10px 0px;
        height: 4vh;
        font-size: 5vw;
        border: 2px solid rgb(58, 58, 141); 
        border-radius: 0.5rem;
    }

    .sign_up_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60vw;
    
    }

    .sign_up_description {
        font-weight: bold;
        font-size: 6vw;
        margin: 0 0 3vh 0;
    }

}