/*ALi*/



/*Zaraket*/



.container {    
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
   
}

.post_div{
    text-align: left !important ; 
    padding-left: 10% !important;
}

.edit {
    background-color: transparent;
    border: 0;
    color: rgb(111, 111, 221);
}

.edit:hover{
    cursor:pointer;
    color: darkblue;
}

.delete {
    background-color: transparent;
    border: 0;
    color: rgb(243, 118, 118);
}

.delete:hover{
    cursor:pointer;
    color: red;
}

@media (min-width: 770px) {

    .col-12 { width: 100%; }

    .col-6{ width: 50%; }

    .col-4{ width: 33.33%; }

    .col-3{ width: 25%; }
    
  }

  /*For main Page only*/



  #post_form{
    padding: 0 10%;
}

.post_btn{
    padding: 5px 20px;
    font-size: large;
    background-color: blue;
    color: white;
    margin-top: 20px;
}

.post_space{

    padding: 25px 75px;
}

.posts_views{

    margin: 0px 10%;
    background-color: rgb(234, 234, 247);
    padding: 10%;
}

.posts_views label {text-transform: capitalize;}

.post_feed{
    margin-bottom: 25px;
    font-size: 25px;
    border-left: 5px solid blue;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
}

hr{
    width: 50%;
    background-color: #c3c3f0;
    border: none;
    height: 1px;
    margin: 10px 0px;
}
