/*ALi*/
#sign_in_body {
    height: 100vh;
    width: 100vw;
    place-content: center;
}

#sign_in_contents {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
}

#sign_in_title {
    flex-basis: 50%;
    text-align: center;

}

#sign_in_box {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    text-align: center;

}

#before_sign_up {
    display: none;
}

#sign_up_box { 
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    text-align: center;
    
}

#navigation_bar {
    display: flex;
    flex-direction: row;
    place-content: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(58, 58, 141);

}

#nav_image_container {
    display: flex;
    width: 10vw;
    height: 10vh;
    flex-basis: 13%;
    justify-content: center;
    align-items: center;

}

#nav_title_container{
    display: flex;
    flex-basis: 12%;
    justify-content: center;
    align-items: center;
}

#nav_title {
    font-size: 2vw;
    color: white;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#user_friends_container {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    align-items: center;
}

#profile_image {
    width: 10vw;
    height: 8vh;
    border-radius: 50%;
}

#search_input {
    width: 25vw;
    height: 4vh;
}

.user_name {
    font-size: 2vw;
}

#users_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#users_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}


#users {
    display: flex;
    width: 30vw;
    flex-direction: row;
    justify-content: space-between;
}

#user_name {
    flex-basis: 80%;
    text-align: left;
    text-transform: capitalize;
}

#add_friend_button {
    flex-basis: 20%;
    align-self: center;
    text-align: center;
    justify-content: center;
    height: 3vh;
    width: 5vw;
}

#add_friend_id {
    display: none;
}

#friends_page_box {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#friends_page {
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    text-transform: capitalize;
}





























/* ---------------------------------------------------------------------------------------- */


























/*Zaraket*/