/*ALi*/



/*Zaraket*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container {    
    width: 100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
   
}

.post_div{
    text-align: left !important ; 
    padding-left: 10% !important;
}

.options{
    text-align: left;
}
.edit {
    background-color: transparent;
    border: 0;
    color: rgb(111, 111, 221);
    padding: 15px;
    margin: 10px 25px;
  
}

.edit:hover{
    cursor:pointer;
    color: darkblue;
}

.delete {
    background-color: transparent;
    border: 0;
    color: rgb(243, 118, 118);
    margin: 10px 15px;
}

.delete:hover{
    cursor:pointer;
    color: red;
}

  /*For main Page only*/



  #post_form{
    padding: 0 10%;
}

.post_btn{
    font-size: large;
    margin-top: 20px;
    align-items: center;
    background-color: #0A66C2;
    border: 2px;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: 0px 20px;
    text-align: center;
}

.post_btn:hover{
    background-color: white;
    color: #0A66C2;
    cursor: pointer;
    border-style: solid;
    border-color: #0A66C2;
}

.post_space{

    padding: 25px 75px;
    border-radius: 5%;
}

.posts_views{

    margin: 0px 10%;
    background-color: rgb(234, 234, 247);
    padding: 10%;
    text-align: left;
}

.posts_views label {text-transform: capitalize;}

.posts_views .label {
    font-size: medium;
    color: gray;}

.post_feed{
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
    border-left: 5px solid #0A66C2;

}



hr{
    width: 50%;
    background-color: #c3c3f0;
    border: none;
    height: 1px;
    margin: 10px 0px;
}

button{
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    line-height: 20px;
    min-height: 40px;
    min-width: 0px;
    padding: auto;
    text-align: center;
    padding: 0px 5px;
    margin: 10px 0px;
}

button:hover{

    background-color: white;
    color: #0A66C2;
 
}

.like{
    padding: 10px 15px;
}

.user__avatar {
    border-radius: 50%;
    width: 45px;
    margin: 25px;
  }


  
@media (min-width: 770px) {

    .col-12 { width: 100%; }

    .col-9{ width: 75%; }

    .col-6{ width: 50%; }

    .col-4{ width: 33.33%; }

    .col-3{ width: 25%; }
    
  }


  @media screen and (max-width:750px) {
  
    .col-3, .col-6, .col-9{
            width: 100%;
            margin: 0;
        }

}